* {
    box-sizing: border-box;

}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
h1 {
    text-align: center;
}

.mainSec {

   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   text-align: center;

  }

h4 {
    text-align: right;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width:175px;
    margin: 0 0 0 auto;

    }
    .h41 {
        background-color: #FFFB01;
    }
    .h42 {
        background-color: #2E8B57;
        color: white;
    }
    .h43 {
        background-color: #DA70D6;
    }


.cont1, .cont2, .cont3 {
    background-color: #D3D3D3;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    float: left;
    width: 27%;
    padding: 20px;

   }